# SPDX-FileCopyrightText: 2021 geisserml <geisserml@gmail.com>
# SPDX-License-Identifier: CC-BY-4.0

data/
!data/.gitkeep
build/
dist/
docs/build/*
!docs/build/.gitkeep
sourcebuild/*
!sourcebuild/patches

*.so
*.dll
*.dylib

.vscode
.pytest_cache
**/__pycache__
*.pyc
*.egg-info
*.kate-swp

src/pypdfium2/_pypdfium.py
pdfium
pdfium.dll
pdfium.dylib

tests/output/
