# SPDX-FileCopyrightText: 2023 geisserml <geisserml@gmail.com>
# SPDX-License-Identifier: Apache-2.0 OR BSD-3-Clause

# MANIFEST.in defines the files to include in an sdist. sdists are also the starting point for wheels.
# Additional files may be included using setuptools (e.g. package_data, license_files)

# We want this to be as narraw as possible, i.e. only the bare minimum of files needed for installation.
# Note: If setuptools-scm is installed, it will include all files checked into version control, and as of this writing, it is not possible to opt out (setuptools_scm/issues/190)

# Include library and setup sources
recursive-include src/pypdfium2 *.py
recursive-include setupsrc *.py
recursive-include sourcebuild/patches *
include autorelease/record.json

# By design, the raw module only ships data files - exclude them by default
recursive-exclude src/pypdfium_raw *
include src/pypdfium2_raw/__init__.py

# Include all of licenses in an sdist (also wheel licenses), since we may build a wheel from the sdist
recursive-include LICENSES/ *
include .reuse/dep5
include .reuse/dep5-wheel

# PyPA eagerly includes tests - exclude because we don't use them
recursive-exclude tests *
