# SPDX-FileCopyrightText: 2026 geisserml <geisserml@gmail.com>
# SPDX-FileContributor: 2025 wojiushixiaobai <296015668@qq.com>
# SPDX-License-Identifier: Apache-2.0 OR BSD-3-Clause

name: CIBW build one
on:
  workflow_call:
    inputs:
      os:
        type: string
      cibw_target:
        type: string
      cibw_arch:
        type: string
      emulated:
        type: boolean
        default: false
      cibw_py_ver:
        default: 'cp310'
        type: string
      branch:
        type: string
        default: ''
      repo_tag:
        type: string
        default: ''
  workflow_dispatch:
    inputs:
      os:
        type: string
        default: ubuntu-latest
      cibw_target:
        type: string
        default: manylinux_x86_64
      cibw_arch:
        type: string
        default: x86_64
      emulated:
        type: boolean
        default: false
      cibw_py_ver:
        default: 'cp310'
        type: string
      branch:
        type: string
        default: ''
      repo_tag:
        type: string
        default: ''

jobs:
  
  build:
    name: ${{ inputs.cibw_target }} on ${{ inputs.os }}
    runs-on: ${{ inputs.os }}
    
    steps:
      
      - name: Check out the repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false
          ref: ${{ inputs.branch || github.ref_name }}
      
      - name: Create pypdfium2 tag (optional)
        if: ${{ inputs.repo_tag }}
        run: |
          git config user.email "geisserml@gmail.com"
          git config user.name "geisserml"
          git tag -a "$REPO_TAG" -m "Autorelease"
        env:
          REPO_TAG: ${{ inputs.repo_tag }}
      
      - name: Set up QEMU
        if: ${{ inputs.emulated }}
        uses: docker/setup-qemu-action@v3
      
      - name: Install Windows cross deps
        if: ${{ startsWith(inputs.os, 'windows') && inputs.cibw_arch != 'AMD64' }}
        uses: ChristopheLav/windows-sdk-install@v1
        with:
          version-sdk: 26100
          features: 'OptionId.WindowsDesktopDebuggers'
      
      # Reminder: most configuration is in pyproject.toml so we can use TOML overrides
      - name: Build wheels
        uses: pypdfium2-team/cibuildwheel@v3.1.4
        env:
          # Will be tagged as not python specific by our setup.py. inputs.cibw_py_ver only controls the version used at build time.
          # Could also use `*`, then cibuildwheel would build with the oldest supported version, and walk through the others but skip because a compatible wheel is around already.
          CIBW_BUILD: "${{ inputs.cibw_py_ver }}-${{ inputs.cibw_target }}"
          CIBW_ARCHS: ${{ inputs.cibw_arch }}
        with:
          output-dir: wheelhouse
      
      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          path: ./wheelhouse/*.whl
          name: cibw-${{ inputs.cibw_target }}
