# SPDX-FileCopyrightText: 2025 geisserml <geisserml@gmail.com>
# SPDX-License-Identifier: Apache-2.0 OR BSD-3-Clause

name: Conda packaging
on:
  workflow_dispatch:
    inputs:
      package:
        type: choice
        default: raw
        options:
          - raw
          - helpers
      pdfium_ver:
        default: 'latest'
        type: string
      new_only:
        # only with package == "raw", ignored otherwise (actually the default should be false in that case, but don't know if GH supports dynamic defaults depending on other inputs)
        default: true
        type: boolean
      test:
        default: true
        type: boolean
      publish:
        default: false
        type: boolean
      py_version:
        default: '3.12'
        type: string
      ref:
        default: main
        type: string

# This is required for setup-miniconda / conda init
# see https://github.com/conda-incubator/setup-miniconda#important
defaults:
  run:
    shell: bash -el {0}

# TODO it might be nice to support building both packages in one run and testing the helpers package with the newly-built raw package, but this may be fairly complicated
# TODO add ability to rebuild helpers with different pdfium version bounds

jobs:
  
  build:
    
    runs-on: ubuntu-latest
    steps:
      
      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ inputs.py_version }}
          # priority: highest to lowest
          # https://github.com/conda-incubator/setup-miniconda/blob/3afdf12ae89a97ee81acc85f1490189fba144938/README.md#example-4-conda-options
          channels: pypdfium2-team,bblanchon,defaults
          channel-priority: strict
          show-channel-urls: true
      
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          repository: ${{ github.repository }}
          fetch-depth: 0
          persist-credentials: false
          ref: ${{ inputs.ref }}
      
      - name: Prepare
        run: |
          python -VV
          conda install -y conda-build conda-verify
          git config --global user.email "geisserml@gmail.com"
          git config --global user.name "geisserml"
          python -m pip install -U -r req/setup.txt
      
      - name: Build package
        run: python3 conda/craft_conda_pkgs.py "$PACKAGE" --pdfium-ver "$PDFIUM_VER" $MAYBE_NEW_ONLY
        env:
          PACKAGE: ${{ inputs.package }}
          PDFIUM_VER: ${{ inputs.pdfium_ver }}
          MAYBE_NEW_ONLY: ${{ inputs.package == 'raw' && inputs.new_only && '--new-only' || '' }}
      
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: conda_package
          path: conda/${{ inputs.package }}/out/
  
  test:
    
    if: ${{ inputs.test }}
    needs: build
    
    strategy:
      fail-fast: false
      matrix:
        # Can't test 'windows-11-arm' because setup-miniconda doesn't support it AOTW
        os: ['ubuntu-latest', 'ubuntu-24.04-arm', 'macos-15-intel', 'macos-latest', 'windows-latest']
        py: ['3.8', '3.9', '3.10', '3.11', '3.12', '3.13']
    
    runs-on: ${{ matrix.os }}
    
    steps:
      
      - name: Check out repository
        uses: actions/checkout@v6
        with:
          repository: ${{ github.repository }}
          persist-credentials: false
          ref: ${{ inputs.ref }}
      
      - name: Miniconda setup
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.py }}
          channels: defaults
      
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: conda_package
          path: conda_dist/
      
      - name: Show debug info
        run: |
          python -VV
          ls -l conda_dist/
      
      # according to the docs, --override-channels disables searching config file channels, and -c options priority decreases from left to right
      - name: Install/Test raw package
        if: ${{ inputs.package == 'raw' }}
        run: |
          conda install -y pypdfium2_raw --override-channels -c ./conda_dist/ -c bblanchon -c defaults
          python conda/raw/minitest.py
      
      - name: Install/Test helpers package
        if: ${{ inputs.package == 'helpers' }}
        run: |
          conda install -y pytest pillow numpy
          conda install -y pypdfium2_helpers --override-channels -c ./conda_dist/ -c pypdfium2-team -c bblanchon -c defaults
          pytest tests/
  
  publish:
    
    if: ${{ inputs.publish }}
    needs: [build, test]
    runs-on: ubuntu-latest
    
    # TODO upload as GH release as well
    
    steps:
      
      # NOTE custom channels may not be actually necessary here
      - name: Miniconda setup
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-update-conda: true
          python-version: ${{ matrix.py }}
          channels: pypdfium2-team,bblanchon,defaults
          channel-priority: strict
      
      - name: Install deps
        run: conda install -y anaconda-client
      
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: conda_package
          path: conda_dist/
      
      - name: Upload to Anaconda
        env:
          PACKAGE: ${{ inputs.package }}
          ANACONDA_API_TOKEN: ${{ secrets.ANACONDA_API_TOKEN }}
        run: |
          ARTIFACT_PATH=conda_dist/noarch/pypdfium2_${PACKAGE}-*.conda
          anaconda upload $ARTIFACT_PATH
