# SPDX-FileCopyrightText: 2023 geisserml <geisserml@gmail.com>
# SPDX-License-Identifier: Apache-2.0 OR BSD-3-Clause

name: Update Docs (GH Pages)

on:
  workflow_dispatch:
  workflow_call:
  push:
    branches:
      - main
    paths:
      - docs/**
      - src/**
      - README.md
  workflow_run:
    # well, actually it should only run if ${{ inputs.publish }} is set...
    workflows: ['Build Packages']
    types: [completed]

# Set permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install deps & pypdfium2
        run: |
          python3 -m pip install -r req/docs.txt
          python3 -m pip install -e .
      - name: Build documentation
        run: ./run docs-build
      - name: Remove unnecessary files
        run: |
          cd docs/build/html
          rm -rf .doctrees/
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: 'docs/build/html'
  
  publish:
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
