# SPDX-FileCopyrightText: 2025 geisserml <geisserml@gmail.com>
# SPDX-License-Identifier: Apache-2.0 OR BSD-3-Clause

# Maintainer's note: This workflow is registered for trusted publishing on pypdfium2's PyPI page, by filename. So if this file shall be renamed, remember to update the filename in PyPI settings as well.

name: Main packaging
on:
  workflow_dispatch:
    inputs:
      test:
        default: true
        type: boolean
      publish:
        default: false
        type: boolean
      conda:
        default: false
        type: boolean
      py_version:
        default: '3.12'
        type: string
      runner:
        default: 'ubuntu-latest'
        type: string

defaults:
  run:
    shell: bash

jobs:
  
  build:
    runs-on: ${{ inputs.runner }}
    outputs:
      new_version: ${{ steps.get_version.outputs.new_version }}
    
    steps:
      
      - uses: extractions/setup-just@v3
      
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.py_version }}
      
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          repository: ${{ github.repository }}
          fetch-depth: 0  # for git describe in "Get new version" step
          persist-credentials: true  # needed for push
      
      - name: Install/update dependencies
        run: python3 -m pip install -U -r req/setup.txt -r req/test.txt -r req/utilities.txt
      
      # NOTE autorelease sets a tag, but it's just temporary for informational purpose and does not match the actually published tag
      # We can't push the tag at this stage because we don't know the outcome of the following jobs yet
      # In the future, we might want to move away from using a git branch & tag at this stage, and instead transfer the changes as a patchfile.
      - name: Run autorelease script
        run: |
          git config user.email "geisserml@gmail.com"
          git config user.name "geisserml"
          git reset --hard HEAD
          # autorelease.py --register automatically switches us onto the autorelease_tmp branch
          python3 setupsrc/autorelease.py --register
      
      - name: Get new version
        id: get_version
        run: echo "new_version=$(git describe --abbrev=0)" >> $GITHUB_OUTPUT
      
      - name: Install pypdfium2
        run: python3 -m pip install -v --no-build-isolation -e .
      
      - name: Run test suite
        run: python3 -m pytest tests/
      
      - name: Run PyPI packaging script
        run: just packaging-pypi
      
      - name: Upload release notes
        uses: actions/upload-artifact@v5
        with:
          name: release_notes
          path: RELEASE.md
      
      # https://github.com/actions/upload-artifact/issues/331 ...
      - name: Upload packages
        uses: actions/upload-artifact@v5
        with:
          name: packages
          path: dist/*
      
      # tag deliberately not pushed (see above)
      - name: Push autorelease_tmp branch
        run: git push -u origin autorelease_tmp
  
  
  test:
    if: ${{ inputs.test }}
    needs: build
    
    strategy:
      fail-fast: false
      matrix:
        id: ['ubuntu_x64', 'ubuntu_arm64', 'mac_x64', 'mac_arm64', 'win_x64', 'win_arm64']
        py: ['3.8', '3.9', '3.10', '3.11', '3.12', '3.13']
        exclude:
          # not supported by setup-python action
          - id: win_arm64
            py: '3.8'
          - id: win_arm64
            py: '3.9'
          - id: win_arm64
            py: '3.10'
        include:
          - id: ubuntu_x64
            os: ubuntu-latest
            wheel: dist/*manylinux_*_x86_64*.whl
          - id: ubuntu_arm64
            os: ubuntu-24.04-arm
            wheel: dist/*manylinux_*_aarch64*.whl
          - id: mac_x64
            os: macos-15-intel
            wheel: dist/*macosx_*_x86_64*.whl
          - id: mac_arm64
            os: macos-latest
            wheel: dist/*macosx_*_arm64*.whl
          - id: win_x64
            os: windows-latest
            wheel: dist/*win_amd64.whl
          - id: win_arm64
            os: windows-11-arm
            wheel: dist/*win_arm64.whl
          # setup-python action does not work in musllinux container, so we can only test with one python version, the container's default python
          - id: alpine_x64
            os: ubuntu-latest
            container: 'quay.io/pypa/musllinux_1_2_x86_64:latest'
            wheel: dist/*musllinux_*_x86_64*.whl
          - id: alpine_arm64
            os: ubuntu-24.04-arm
            container: 'quay.io/pypa/musllinux_1_2_aarch64:latest'
            wheel: dist/*musllinux_*_aarch64*.whl
    
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    
    steps:
      
      - name: Set up Python
        uses: actions/setup-python@v6
        if: ${{ !matrix.container }}
        with:
          python-version: ${{ matrix.py }}
      
      - name: Container preparation
        if: ${{ matrix.container }}
        # there are also the PyPA-supplied python builds in /opt/python/* that ship with pip out of the box, but they are not in PATH by default and not sure how to add them
        run: apk add --update python3 py3-pip
      
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          repository: ${{ github.repository }}
          ref: autorelease_tmp
          persist-credentials: false
      
      - name: Download packages
        uses: actions/download-artifact@v6
        with:
          name: packages
          path: dist/
      
      - name: Install dependencies
        run: |
          python3 -m pip install -U pip setuptools
          python3 -m pip install -U pytest pillow numpy
      
      - name: Install and run auditwheel (informational)
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: |
          python3 -m pip install -U auditwheel
          python3 -m auditwheel show $WHEEL
        env:
          WHEEL: ${{ matrix.wheel }}
      
      - name: Install pypdfium2 from artifact
        run: python3 -m pip install $WHEEL
        env:
          WHEEL: ${{ matrix.wheel }}
      
      - name: Run Test Suite
        run: python3 -m pytest tests/
  
  
  publish:
    
    needs: [build, test]
    if: ${{ inputs.publish && !cancelled() && !contains(needs.*.result, 'failure') }}
    runs-on: ${{ inputs.runner }}
    
    environment: release  # PyPI upload via "trusted publishing"
    permissions:
      id-token: write  # PyPI upload via "trusted publishing"
      contents: write  # autorelease repository changes
      actions: write   # GH pages workflow-dispatch
    
    steps:
      
      - name: Check out repository (deep)
        uses: actions/checkout@v5
        with:
          repository: ${{ github.repository }}
          fetch-depth: 0
          persist-credentials: true  # needed for push
      
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ inputs.py_version }}
      
      - name: Download packages
        uses: actions/download-artifact@v6
        with:
          name: packages
          path: dist/
      
      - name: Download release notes
        uses: actions/download-artifact@v6
        with:
          name: release_notes
      
      - name: Apply and push repository changes
        run: |
          git config user.email "geisserml@gmail.com"
          git config user.name "geisserml"
          git checkout main
          git merge origin/autorelease_tmp
          git tag -a "$NEW_VERSION" -m "Autorelease"
          git push
          git push --tags
          git checkout stable
          git reset --hard main
          git push --force
          git checkout main
        env:
          NEW_VERSION: ${{ needs.build.outputs.new_version }}
      
      # Upload to TestPyPI / PyPI via "trusted publishing".
      # https://docs.pypi.org/trusted-publishers/adding-a-publisher/
      # https://docs.pypi.org/trusted-publishers/using-a-publisher/
      # https://github.com/pypa/gh-action-pypi-publish
      
      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          packages-dir: dist/  # the default
          # https://github.com/pypa/gh-action-pypi-publish/issues/283#issuecomment-2499296440
          attestations: false
          verbose: true
      
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist/  # the default
      
      - name: Publish to GitHub
        uses: ncipollo/release-action@v1
        with:
          artifacts: 'dist/*.whl,dist/*.tar.gz'
          bodyFile: 'RELEASE.md'
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ needs.build.outputs.new_version }}
          prerelease: ${{ contains(needs.build.outputs.new_version, 'b') }}
      
      - name: Trigger GH Pages rebuild
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: gh_pages.yaml  # takes no inputs
  
  conda_trigger:
    needs: [build, test, publish]
    if: ${{ inputs.conda && !cancelled() && !contains(needs.*.result, 'failure') }}
    runs-on: ${{ inputs.runner }}
    
    steps:
      - name: Trigger conda pypdfium2_helpers build
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: conda.yaml
          inputs: |
            {
              "package": "helpers",
              "pdfium_ver": "latest",
              "new_only": "false",
              "test": "true",
              "publish": "${{ inputs.publish }}",
              "py_version": "${{ inputs.py_version }}"
            }
  
  cleanup:
    needs: [build, test, publish, conda_trigger]
    if: ${{ !cancelled() }}
    runs-on: ${{ inputs.runner }}
    
    steps:
      
      - name: Check out repository
        uses: actions/checkout@v5
        with:
          repository: ${{ github.repository }}
          persist-credentials: true  # needed for push
    
      - name: Remove temporary branch
        run: git push origin --delete autorelease_tmp
