# SPDX-FileCopyrightText: 2025 geisserml <geisserml@gmail.com>
# SPDX-License-Identifier: Apache-2.0 OR BSD-3-Clause

name: Sourcebuild

on:
  workflow_dispatch:
    inputs:
      linux:
        type: boolean
        default: true
      macos:
        type: boolean
        default: true
      macos_test:
        type: boolean
        default: false
      windows:
        type: boolean
        default: true
      py_version:
        type: string
        default: '3.12'
      glibc_tag:
        type: string
        default: 'manylinux_2_17'

jobs:
  
  linux_x64:
    if: ${{ inputs.linux }}
    uses: ./.github/workflows/sbuild_one.yaml
    with:
      os: ubuntu-latest
      tag: ${{ inputs.glibc_tag }}_x86_64
      py_version: ${{ inputs.py_version }}
  
  linux_x86:
    if: ${{ inputs.linux }}
    uses: ./.github/workflows/sbuild_one.yaml
    with:
      os: ubuntu-latest
      target_cpu: x86
      tag: ${{ inputs.glibc_tag }}_i686
      py_version: ${{ inputs.py_version }}
  
  linux_arm64:
    if: ${{ inputs.linux }}
    uses: ./.github/workflows/sbuild_one.yaml
    with:
      os: ubuntu-latest
      target_cpu: arm64
      tag: ${{ inputs.glibc_tag }}_aarch64
      py_version: ${{ inputs.py_version }}
  
  linux_armv7l:
    if: ${{ inputs.linux }}
    uses: ./.github/workflows/sbuild_one.yaml
    with:
      os: ubuntu-latest
      target_cpu: arm
      tag: ${{ inputs.glibc_tag }}_armv7l
      py_version: ${{ inputs.py_version }}
  
  linux_ppc64le:
    if: ${{ inputs.linux }}
    uses: ./.github/workflows/sbuild_one.yaml
    with:
      os: ubuntu-latest
      target_cpu: ppc64le
      tag: ${{ inputs.glibc_tag }}_ppc64le
      py_version: ${{ inputs.py_version }}
  
  macos_cross_x64:
    if: ${{ inputs.macos }}
    uses: ./.github/workflows/sbuild_one.yaml
    with:
      os: macos-latest  # arm64 host
      target_cpu: x64
      tag: macosx_11_0_x86_64
      py_version: ${{ inputs.py_version }}
  
  macos_native_arm64:
    if: ${{ inputs.macos }}
    uses: ./.github/workflows/sbuild_one.yaml
    with:
      os: macos-latest
      tag: macosx_11_0_arm64
      py_version: ${{ inputs.py_version }}
  
  # test macOS the other way round while we still can
  
  macos_native_x64:
    if: ${{ inputs.macos_test }}
    uses: ./.github/workflows/sbuild_one.yaml
    with:
      os: macos-15-intel
      py_version: ${{ inputs.py_version }}
  
  macos_cross_arm64:
    if: ${{ inputs.macos_test }}
    uses: ./.github/workflows/sbuild_one.yaml
    with:
      os: macos-15-intel
      target_cpu: arm64
      tag: macosx_11_0_arm64
      py_version: ${{ inputs.py_version }}
  
  windows_x64:
    if: ${{ inputs.windows }}
    uses: ./.github/workflows/sbuild_one.yaml
    with:
      os: windows-latest
      py_version: ${{ inputs.py_version }}
  
  windows_arm64:
    if: ${{ inputs.windows }}
    uses: ./.github/workflows/sbuild_one.yaml
    with:
      os: windows-latest
      target_cpu: arm64
      tag: win_arm64
      py_version: ${{ inputs.py_version }}
  
  windows_x86:
    if: ${{ inputs.windows }}
    uses: ./.github/workflows/sbuild_one.yaml
    with:
      os: windows-latest
      target_cpu: x86
      tag: win32
      py_version: ${{ inputs.py_version }}
  
  # TODO android?
