# SPDX-FileCopyrightText: 2026 geisserml <geisserml@gmail.com>
# SPDX-License-Identifier: Apache-2.0 OR BSD-3-Clause

name: Test PyPI Release
on:
  workflow_dispatch:
    inputs:
      index_url:
        type: choice
        default: 'https://pypi.org/simple'
        options:
          - 'https://pypi.org/simple'
          - 'https://test.pypi.org/simple'

defaults:
  run:
    shell: bash

jobs:

  test-release:
  
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'ubuntu-24.04-arm', 'macos-15-intel', 'macos-latest', 'windows-latest', 'windows-11-arm']
        py: ['3.8', '3.9', '3.10', '3.11', '3.12', '3.13']
        exclude:
          # not supported by setup-python action
          - os: windows-11-arm
            py: '3.8'
          - os: windows-11-arm
            py: '3.9'
          - os: windows-11-arm
            py: '3.10'
    
    runs-on: ${{ matrix.os }}
    
    steps:
      
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.py }}
      
      - name: Install pypdfium2 from package index
        run: python3 -m pip install -U --pre pypdfium2 --index-url "$INDEX_URL"
        env:
          INDEX_URL: ${{ inputs.index_url }}
      
      - name: Get pypdfium2 version
        id: version
        run: python3 -c "from pypdfium2.version import *; print(f'version={PYPDFIUM_INFO.tag}')" >> $GITHUB_OUTPUT
      
      - name: Check out pypdfium2 ${{ steps.version.outputs.version }}
        uses: actions/checkout@v6
        with:
          repository: ${{ github.repository }}
          ref: ${{ steps.version.outputs.version }}
          persist-credentials: false
      
      - name: Install/update deps
        run: python3 -m pip install -U -r req/converters.txt -r req/test.txt
      
      - name: Run tests
        run: python3 -m pytest tests/
