# SPDX-FileCopyrightText: 2022 geisserml <geisserml@gmail.com>
# SPDX-License-Identifier: Apache-2.0 OR BSD-3-Clause

name: Test Release
on: workflow_dispatch

jobs:

  test-release:
  
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        py: ['3.6', '3.10']
    
    runs-on: ${{ matrix.os }}
    
    steps:
    
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.py }}
      
      - name: Install/update packages
        run: |
          python3 -m pip install -U pip setuptools wheel
          python3 -m pip install -U --pre pypdfium2[test,converters,inserttext]
      
      - name: Check out pypdfium2 repository
        uses: actions/checkout@v3
        with:
          repository: ${{ github.repository }}
      
      - name: Run tests
        run: make test
