# SPDX-FileCopyrightText: 2022 geisserml <geisserml@gmail.com>
# SPDX-License-Identifier: Apache-2.0 OR BSD-3-Clause

name: Test Sourcebuild

on:
  workflow_dispatch:
  workflow_call:

defaults:
  run:
    shell: bash

jobs:
  
  test_sourcebuild:
    
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest']  # 'windows-latest' (known failure, needs fixing)
    
    runs-on: ${{ matrix.os }}
    
    steps:
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      - name: Check out pypdfium2 repository
        uses: actions/checkout@v3
        with:
          repository: ${{ github.repository }}
      
      - name: Install deps
        run: |
          python3 -m pip install -U pip
          python3 -m pip install -U .[setup,converters,test]
      
      - name: Build PDFium
        run: python3 ./setupsrc/pl_setup/build_pdfium.py
      
      - name: Install
        run: PDFIUM_BINARY="sourcebuild" python3 -m pip install .
      
      - name: Run Test Suite
        run: make test
