# SPDX-FileCopyrightText: 2022 geisserml <geisserml@gmail.com>
# SPDX-License-Identifier: Apache-2.0 OR BSD-3-Clause

name: Test Setup
on:
  workflow_dispatch:

jobs:
  
  test_setup:
  
    strategy:
      fail-fast: false
      matrix:
        # os: ['ubuntu-22.04', 'ubuntu-20.04', 'macos-12', 'macos-11', 'macos-10.15', 'windows-2022', 'windows-2019']
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        py: ['3.7', '3.8', '3.9', '3.10', '3.11']
    
    runs-on: ${{ matrix.os }}
    
    steps:
    
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.py }}
      
      - name: Check out pypdfium2 repository
        uses: actions/checkout@v3
        with:
          repository: ${{ github.repository }}

      - name: Install deps + Setup (default)
        run: |
          python3 -m pip install -U pip
          python3 -m pip install -U .[setup,converters,test,docs]
      
      # TODO Should we run the test suite after each way of installing?
      
      - name: Setup (default, no isolation)
        run: python3 -m pip install --no-build-isolation .
      
      - name: Setup (editable)
        run: python3 -m pip install -e .
      
      - name: Setup (editable, no isolation)
        run: python3 -m pip install --no-build-isolation -e .
      
      - name: Build documentation
        run: make docs-build
      
      - name: Run Test Suite
        run: make test
