# SPDX-FileCopyrightText: 2022 geisserml <geisserml@gmail.com>
# SPDX-License-Identifier: Apache-2.0 OR BSD-3-Clause

name: Trigger Release
on:
  # https://docs.github.com/en/actions/using-workflows/events-that-trigger-workflows#schedule
  # https://github.com/bblanchon/pdfium-binaries/blob/master/.github/workflows/trigger.yml
  # schedule:
  #   - cron: '0 10 * * 1'
  
  workflow_dispatch:
    inputs:
      test:
        default: false
        type: boolean

defaults:
  run:
    shell: bash

jobs:
  
  # once there is a way to share inputs between workflow_dispatch and workflow_call, we can switch to github reusable workflows
  
  release:
    runs-on: ubuntu-latest
    
    steps:
      - name: Trigger Release
        uses: benc-uk/workflow-dispatch@v1
        with:
          workflow: build_packages.yaml
          inputs: |
            {
              "test": "${{ inputs.test }}",
              "publish": "true",
              "py_version": "3.10",
              "runner": "ubuntu-latest"
            }
